[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "scm_breeze"]
	path = scm_breeze
	url = git://github.com/ndbroadbent/scm_breeze.git
[submodule "vim/bundle/clam.vim"]
	path = vim/bundle/clam.vim
	url = git://github.com/sjl/clam.vim.git
[submodule "vim/bundle/detectindent"]
	path = vim/bundle/detectindent
	url = git://github.com/ciaranm/detectindent.git
